*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
}

header{
    display: flex;
}
nav{
    flex-grow: 2;
}
nav ul {

    display: flex;
    justify-content: space-evenly;

    margin: 0;
    padding: 20px 0 0 0;
}

nav ul li {

    /* justify-content: space-evenly; */
    list-style: none;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

}
a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;

}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 10px;
}
main{
    display: grid;
    grid-template-areas:
     "DYK DYK"
     "Race Refreshed";
     grid-template-columns: 1fr 1fr;


     gap: 20px;
     column-gap: 50px;
     align-items: center;
}
div#DYK{

    grid-area: DYK;
}
h2{
    display: inline;
}
p{
    display: inline;
}

div#Race{
    grid-area: Race;
}
div#Refreshed{
    grid-area: Refreshed;

}
main img {
    display: inline;
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
